---
---

.title {
  text-align: center;
}

.posts {
  border: thin solid #DDD;
  background-color: #FDFDFD;

  .post {
    font-size: 16px;
    margin: 1em 0;
    display: flex;

    &:hover {
      opacity: 0.5;
    }
  }
}

.post-body {
  border: thin solid #DDD;
  background-color: #FDFDFD;

  font-size: 14px;
  margin: 1em 1em 0 1em;
  padding: 0 1em;
}
